


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
   
}
.main{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 80%;

    
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
 

/* 
.main1,.main2,.main3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
} */
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.navigation{
    display:flex;
    justify-content: space-between;
    flex-basis: 0.2em;
    align-items: center;
    background-color:rgb(0,0,0,0.25);
    box-sizing: border-box;
    padding: 1.2em 1.5em ;




}
html{
    color: snow;
    height: 100vh;
    background-image:linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.7) ), url("https://images.unsplash.com/photo-1541701494587-cb58502866ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8OHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
}


.logo1{
    height: 25px;
    width: 25px;
}
.name{
    font-family: 'Cabin', sans-serif;
    font-size: 2em;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}
.btn{
    height: 20px;
    width: 20px;

}
#search{
    width: 800px;
    border-left: none;
    height: 20px;
    padding-left: 2px;
}
#signup-button{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 25px;
    text-decoration: none;
    background-color: #f5f5f5;
    font-weight: 300;
    color: black;
    font-family: 'Cabin', sans-serif;

}
#login-button{
    
    
    padding: 10px 25px;
    text-decoration: none;
    
    font-weight: 300;
    color: #f5f5f5;
    font-family: 'Cabin', sans-serif;

}
#signup-button:hover{
    color: darkgrey;
}
/* .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    flex-wrap: wrap;
} */
.main1{
    font-family: 'Cabin', sans-serif;
    
    color: snow;
    font-size: 4.5rem;
    font-weight: 400;
    align-items: center;
    letter-spacing: 1px;
    margin-top: 15%;
    margin-bottom: 2%;

}
.main2{
    font-family: 'Cabin', sans-serif;
    font-size: 1.5rem;
    color: snow;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom:1%;
    max-width: 100%;
   

}
#free{
    
        border: 1px solid black;
        border-radius: 5px;
        padding: 20px 50px;
        text-decoration: none;
        background-color: #f5f5f5;
        font-weight: 600;
        font-size: 2em;
        color: black;
        font-family: 'Cabin', sans-serif;
        margin-top: 12%;
    

}


#search-button {
    border-right: none;
    height: 24px;
    width: 20px;
    border: none;
    position: relative;
    top: 5px;
    background-color: #ffffff;
}


.foot{
    background-color:rgb(0,0,0,0.7);
    box-sizing: border-box;
    padding: 1.2em 1.5em ;
    
   
}

.footer-items{
    display: flex;
    justify-content: space-evenly;
    
}
a{
    text-decoration: none;
    color: grey;
}
.name{
    color: snow;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#language{
    border: none;
    background : none;
    color: grey;
    width: min-content;
}
 